common --strip=never
common --sandbox_debug
common --check_direct_dependencies=off

build --compilation_mode=dbg
build --cxxopt -Werror
build --cxxopt -Wall

test --cache_test_results=yes
test --test_output=errors

clean --async
