[submodule "prefix/usr/local/vrome"]
	path = prefix/usr/local/vrome
	url = git://github.com/jinzhu/vrome.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-protobuf"]
	path = .vim/bundle/vim-protobuf
	url = git://github.com/jboyens/vim-protobuf.git
[submodule "prefix/usr/local/vimpager"]
	path = prefix/usr/local/vimpager
	url = git://github.com/rkitover/vimpager.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
