[submodule "prefix/usr/local/vrome"]
	path = prefix/usr/local/vrome
	url = git://github.com/jinzhu/vrome.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "prefix/usr/local/flamethrower"]
	path = prefix/usr/local/flamethrower
	url = git://github.com/blakesmith/flamethrower.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "personal"]
	path = personal
	url = git@faraazs.homeip.net:personal.git
[submodule ".vim/bundle/vim-protobuf"]
	path = .vim/bundle/vim-protobuf
	url = git://github.com/jboyens/vim-protobuf.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
