[user]
  name = Faraaz Sareshwala
  email = faraazs@gmail.com

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/prefix/etc/git/exclude
  pager = less
  autocrlf = input
  preloadindex = true
  editor = nvim

[color]
  diff = auto
  branch = auto
  status = auto
  interactive = auto
  ui = true
  pager = true

[alias]
  cp = cherry-pick
  discard = reset --hard
  ff = pull --ff-only --stat
  fx = "!f() { git commit --fixup \":/$1\"; }; f"
  ls = ls-files
  root = rev-parse --show-toplevel
  undo-commit = reset --soft HEAD~

[diff]
  tool = vimdiff
  algorithm = patience
  renames = true

[difftool]
  prompt = false

[merge]
  tool = vimdiff
  ff = only

[push]
  default = current

[pull]
  ff = only
  rebase = false

[tig]
  line-graphics = yes
  tab-size = 2
  commit-order = default
  show-changes = no

[help]
  autocorrect = 1

[rerere]
  enabled = 1

[grep]
  lineNumber = true

[http]
  postBuffer = 524288000
  cookiefile = ~/.gitcookies

[rebase]
  autoSquash = true
  updateRefs = true

[format]
  pretty = oneline

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[advice]
  skippedCherryPicks = false

[url "git@github.com:"]
  insteadof = https://github.com
  insteadof = git://github.com

[repo]
  superprojectChoiceExpire = 1634250339
  superprojectChoice = true
