[user]
    name = Faraaz Sareshwala
    email = faraazs@gmail.com

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = /home/fsareshwala/prefix/etc/git/exclude
    pager = less
    autocrlf = input
    preloadindex = true

[color]
    diff = auto
    branch = auto
    status = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    ls = ls-files
    serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
    ff = pull --ff-only --stat
    fmerge = "!f() { git checkout master && git ff && git checkout $1 && git rebase origin/master && git checkout master && git merge $1 && git branch -d $1; }; f"

    # show only the differences between another branch that I have added
    wc = "!f() { git diff `git merge-base HEAD $1`; }; f"
    wcs = "!f() { git diff --stat `git merge-base HEAD $1`; }; f"
    wcg = "!f() { SHA=`git merge-base HEAD $1`; git graph $SHA..HEAD; }; f"

[reviewboard]
    url = http://reviews.sfoffice.qc/

[diff]
    tool = vimdiff
    algorithm = patience
    renames = true

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    ff = only

[tig]
    line-graphics = yes
    tab-size = 4

[help]
    autocorrect = 1

[rerere]
    enabled = 1

[grep]
    lineNumber = true

[push]
    default = upstream

[http]
    postBuffer = 524288000
