[user]
    name = Faraaz Sareshwala
    email = fsareshwala@quantcast.com

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = /home/fsareshwala/prefix/etc/git/exclude
    pager = less
    autocrlf = input

[color]
    diff = auto
    branch = auto
    status = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    graph = log --graph --pretty=format:'%C(yellow)%h%Creset - %Cgreen(%cr) %C(bold blue)<%an>%Creset %s %Cred%d%Creset' --abbrev-commit --date=relative --no-merges
    ls = ls-files
    serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
    update = "!f() { git submodule foreach git checkout master ; git submodule foreach git ff; }; f"
    ff = pull --ff-only --stat

    # show only the differences between another branch that I have added
    wc = "!f() { git diff `git merge-base HEAD $1`; }; f"
    wcs = "!f() { git diff --stat `git merge-base HEAD $1`; }; f"
    wcg = "!f() { SHA=`git merge-base HEAD $1`; git graph $SHA..HEAD; }; f"

[reviewboard]
    url = http://reviews.sfoffice.qc/

[diff]
    tool = vimdiff
    algorithm = patience

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[tig]
    author-width = 25
    line-graphics = yes
    tab-size = 4

[help]
    autocorrect = 1

[rerere]
    enabled = 1
[push]
	default = simple
