set completion-ignore-case on
set completion-map-case on
set echo-control-characters off
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on

Control-w: unix-filename-rubout
