set blink-matching-paren on
set completion-ignore-case on
set completion-map-case on
set echo-control-characters off
set enable-bracketed-paste on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on

"\C-W": unix-filename-rubout

set editing-mode vi

$if mode=vi
set show-mode-in-prompt on
set vi-cmd-mode-string \1\e[2 q\2
set vi-ins-mode-string \1\e[6 q\2

set keymap vi-command
Control-l: clear-screen
Control-a: beginning-of-line
Control-e: end-of-line
Control-r: history-search-backward

set keymap vi-insert
Control-l: clear-screen
Control-a: beginning-of-line
Control-e: end-of-line
Control-r: history-search-backward
$endif
