Xcursor.size: 40
Xft.dpi: 144

URxvt.font: xft:TerminessTTF Nerd Font Mono:regular:size=10
URxvt.boldFont:
URxvt.letterSpace: 1
URxvt.pointerBlank: true
URxvt.scrollBar: false
URxvt.allowBoldFonts: false
URxvt.bellSuppressTime: 0
URxvt.saveLines: 65535
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! URxvt.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt.shading: 15
URxvt.transparent: true
URxvt.fading: 75

URxvt.perl-lib: /home/fsareshwala/prefix/usr/local/rxvt/perls
URxvt.perl-ext-common: keyboard-select,url-select,clipboard,matcher,resize-font
URxvt.keysym.C-i: perl:keyboard-select:activate
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.url-select.launcher: /usr/bin/google-chrome
URxvt.url-select.underline: true
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-equal: resize-font:bigger
URxvt.keysym.C-0: resize-font:reset
URxvt.keysym.C-question: resize-font:show
URxvt.resize-font.step: 2
URxvt.matcher.button: 1
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true

URxvt.matcher.pattern.0: https?:\/\/[a-zA-Z0-9-_.\/?&=+:]+
URxvt.matcher.pattern.1: go\/[a-zA-Z0-9-_.\/]+
URxvt.matcher.pattern.2: cl\/[0-9]+
URxvt.matcher.pattern.3: b\/[0-9]+
URxvt.matcher.pattern.4: t\/[0-9]+
URxvt.matcher.pattern.5: g\/[-_.a-z0-9]+
URxvt.matcher.pattern.6: cs\/[a-zA-Z0-9-_.\/]+

! terminal.sexy: dotshare
URxvt.foreground:   #ffffff
URxvt.background:   #000000
URxvt.cursorColor:  #ffffff
URxvt.color0:       #101010
URxvt.color8:       #404040
URxvt.color1:       #e84f4f
URxvt.color9:       #d23d3d
URxvt.color2:       #b8d68c
URxvt.color10:      #a0cf5d
URxvt.color3:       #e1aa5d
URxvt.color11:      #f39d21
URxvt.color4:       #7dc1cf
URxvt.color12:      #4e9fb1
URxvt.color5:       #9b64fb
URxvt.color13:      #8542ff
URxvt.color6:       #6d878d
URxvt.color14:      #42717b
URxvt.color7:       #dddddd
URxvt.color15:      #dddddd
