URxvt.font: xft:terminus:antialias=false:pixelsize=12
URxvt.scrollBar: false
URxvt.allowBoldFonts: false
URxvt.bellSuppressTime: 0

URxvt.foreground: gray
URxvt.background: black
URxvt.cursorColor: green

URxvt.saveLines: 10000
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.perl-lib: /home/fsareshwala/prefix/usr/local/rxvt/perls
URxvt.perl-ext-common: keyboard-select,url-select,clipboard,matcher
URxvt.keysym.C-i: perl:keyboard-select:activate
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/chromium-browser
URxvt.matcher.button: 1
URxvt.url-select.launcher: /usr/bin/chromium-browser
URxvt.url-select.underline: true

URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true

URxvt*color0:  #373c40
URxvt*color1:  #ff5454
URxvt*color2:  #8cc85f
URxvt*color3:  #e3c78a
URxvt*color4:  #80a0ff
URxvt*color5:  #ce76e8
URxvt*color6:  #7ee0ce
URxvt*color7:  #de935f
URxvt*color8:  #f09479
URxvt*color9:  #fe3b7b
URxvt*color10: #42cf89
URxvt*color11: #cfcfb0
URxvt*color12: #78c2ff
URxvt*color13: #ae81ff
URxvt*color14: #85dc85
URxvt*color15: #e2637f
