snippet dsol "Insert solution or dotted lines" b
\begin{solutionordottedlines}[1in]
	$1
\end{solutionordottedlines}
endsnippet

snippet bsol "Insertion solution or box" b
\begin{solutionorbox}[2in]
	$1
\end{solutionorbox}
endsnippet
