snippet dsol "Insert solution or dotted lines"
\begin{solutionordottedlines}[1in]
	$1
\end{solutionordottedlines}
endsnippet

snippet bsol "Insertion solution or box"
\begin{solutionorbox}[2in]
	$1
\end{solutionorbox}
endsnippet
