/* gmail */
div.aXjCH {
  font-family: MonoSpace;
  font-size: 9pt;
  width: 100ch;
}

/* google docs */
.kix-page-compact::before {
  display: none;
}

/* wiki */
div#content.page.view {
  font-family: MonoSpace !important;
  font-size: 10pt !important;
  width: 140ch;
}

textarea {
  font-family: MonoSpace !important;
  font-size: 10pt !important;
}
